<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.godder.dataservice.mapper.UserLocalInfoMapper">
  <resultMap id="BaseResultMap" type="top.godder.dataapi.entry.UserLocalInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="credit" jdbcType="INTEGER" property="credit" />
  </resultMap>
</mapper>