<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.godder.userservice.mapper.UserRoleMapper">
  <resultMap id="BaseResultMap" type="top.godder.dataapi.entry.UserRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_level" jdbcType="INTEGER" property="roleLevel" />
    <result column="level_name" jdbcType="VARCHAR" property="levelName" />
  </resultMap>
</mapper>